<h1>Portfolio Items</h1>

<%= link_to "New Portfolio", new_portfolio_path if logged_in?(:site_admin)%>
<div class="container">
  <%= render partial: 'portfolio_item', collection: @portfolio_items %>
</div>
