<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Ian Kigen</h3>
    <nav class="nav nav-masthead">
      <%= nav_helper 'nav-link' %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>