<h3>You probably want to look at my work.</h3>

<p>That's cool, but sit tight; let's break the ice a little.
  I’m a seasoned and award-winning agency creative — a passionate leader with a proven track record for translating
  complex ideas into slick, successful campaigns. I’ve managed and motivated interdisciplinary teams, both as official
  in-house go-to gal and A-list agency hotshot. I’ve built and managed brands from the ground up, worn every hat on the
  rack, and leapt tall buildings in a single bound. Don’t let my clean lines and weakness for Swiss type fool you; this
  is all a plot for world domination, one brand at a time.

</p>
<p>
  I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney,
  Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
</p>