<h3>About Me.</h3>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile.jpg', width: 250, alt: 'Profile image' %>
  </div>
  <div class="col-md-8">
    <p>That's cool, but sit tight; let's break the ice a little.
      I’m a seasoned and award-winning agency creative — a passionate leader with a proven track record for translating
      complex ideas into slick, successful campaigns. I’ve managed and motivated interdisciplinary teams, both as
      official
      in-house go-to gal and A-list agency hotshot.
    </p>
    <p>
      I've worked with some pretty cool brands, including Neiman Marcus, TIGI/Toni & Guy, Bergdorf Goodman, jcpenney,
      Michaels, Nationwide Insurance, D Magazine, GameStop, Dreamworks, Scholastic, Direct Energy, and Dr Pepper.
    </p>
  </div>
</div>
